<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sample Software" />
    <title>@ViewBag.Title - Sample System</title>

    @* Tether.io *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">

    @* Bootstrap core CDN *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    @* Font Awesome CDN *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @* jQuery UI CDN *@
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    @* jQuery jvectormap CDN *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/1.2.2/jquery-jvectormap.css" rel="stylesheet">    
    
    @* Custom styles for this template *@
    <link href="/Content/css/style.min.css" rel="stylesheet" id="main-style">
    

    @* jQuery core.  MUST be at the top, in case of $(document).ready(...) calls midway through page. *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Sample Software</a>
    <button class="navbar-toggler sidebar-minimizer d-md-down-none h-100 b-r-1 px-3" type="button">☰</button>
    <ul class="nav navbar-nav d-md-down-none b-r-1 h-100">
        <form class="form-inline px-4">
            <span class="fa fa-search"></span>
            <input class="form-control" type="text" placeholder="Search...">
        </form>
    </ul>
    <ul class="nav navbar-nav ml-auto">
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title text-center">
                    <span>Users</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Manage", "Board")"><span class="fa fa-list-ol fa-span"></span><span class="hidden-sm text"> List</span></a>
                </li>

            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        @RenderBody()
    </main>
</div>

<footer class="app-footer">
    <a href="https://genesisui.com">Clever</a> © 2017 creativeLabs.
    <span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>
    </span>
</footer>

<!-- Bootstrap and necessary plugins -->
@* jQuery *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script src="/Scripts/jquery.mmenu.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

@* Bootstrap 4 *@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="/Scripts/pace.min.js"></script>

<!-- Plugins and scripts required by all views -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!-- GenesisUI main scripts -->
<script src="/Scripts/app.js"></script>

</body>

</html>
